body {    
    margin: 0;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Ubuntu', sans-serif;



    background-color: #000;    
}

*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 2.5rem 0;
}

.container {
    max-width: 60rem;       
    
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;

    background-color: #333333;    
}

/* Header */
.header__img {
    display: block;
    text-align: center; 
    padding-top: 1rem;    
}

.header {
    display: flex;  
    padding-bottom: 1rem;  
    
    flex-direction: column;
    align-items: center;
}

.header__line {
    width: 30rem;
    margin: 1rem 0;
    border: 1px solid #b69b67;
}

.header__title {    
    font-size: 3rem;    
    font-weight: 400;
    font-family: 'Playfair Display SC';

    background-color: #b69b67;

    background: linear-gradient(50deg, rgba(125,116,97,1) 20%, rgba(182,155,103,1) 47%, rgba(108,103,93,1) 88%);

    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    color: transparent;
}

.header__avatar {    
    text-align: center;
}

.img__avatar { 
    margin: 2rem;    
    box-shadow: 0 7px 20px
    rgba(0,0,0, .25);
    border-radius: 50%;
}

.header__subtitle {
    padding-bottom: 1rem;
    font-size: 2rem;    
    font-weight: 300;
    font-family: "Ubuntu";

    background-color: #b69b67;

    background-image: linear-gradient(50deg, rgba(175,66,97,1) 15%, rgba(120,112,97,1) 59%, rgba(182,155,103,1) 76%);   

    background-size: 100%;
    background-repeat: repeat;    

    background-clip: text;
    color: transparent;    
}

/* About */

.about__title {
    margin-bottom: 1rem;

    font-size: 1.5rem;    
    font-weight: 700;
    font-family: 'Playfair Display SC';

    background-color: #b69b67;

    background: linear-gradient(50deg, rgba(125,116,97,1) 20%, rgba(182,155,103,1) 47%, rgba(108,103,93,1) 88%);

    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    color: transparent;
    
    text-align: center;
}

.about__subtitle {    
    padding: .5rem 1rem;

    font-size: 2rem;    
    font-weight: 300;
    font-family: "Ubuntu";

    background-color: #b69b67;

    background: linear-gradient(50deg, rgba(125,116,97,1) 20%, rgba(182,155,103,1) 47%, rgba(108,103,93,1) 88%);

    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    color: transparent;

} 

.about__skills {
    display: block;
    margin: 0;
    padding: 1rem;    
}

.about__ckills-item {
    padding: 1rem 0;

    font-size: 1.2rem;
    line-height: 1.2;
    font-family: "Ubuntu";
    text-transform: uppercase;
    color: #b4b4b4;    
    list-style: none;
}

.about {
    display: flex;
}      

.about__left {
    width: 40%;
    margin: 1rem;
}

.about__line {
    display: block;
    width: 9rem;
    border: 1px solid #b69b67;

    opacity: .5;
}

.about__right {
    width: 60%;
    margin: 1rem;
    margin-left: 1rem;
}

.about__text {
    margin: 0;    
    padding: .5rem;
    
    font-size: 1.2rem;
    line-height: 1.1;    
    color: #b4b4b4;  
    font-family: "Ubuntu"; 

}

.about__img {
    padding: .5rem;
    align-items: center;
    overflow: hidden;
    
}
